/* BACKGROUNDS

/* Overall background color */
html, #login {
	background-color:#f6f8fa;
	}

/* Overall background image */
html {
	background-image:url(/assets/bg/html-1.png);
	}

/* Background image for the header area */
body {
	background-image:url(/assets/bg/body-1.jpg);
	}

/* Background and border color for drop-down navigation */
nav ul ul {
	background-color:#21262a;
	border-color:#3399FF;
	}

/* Footer background color */
footer, footer h3 span {
	background-color:#21262a;
	}

/* Default link button color */
.button {
	background-color:#3399FF;
	}

/* Search input and button */
#search input, #search button {
	background-color:#21262A;
	}


/* TEXT COLORS

/* Primary navigation color */
nav a {
	color:#DFE2E4;
	}

/* Header colors */
h1, h1 a {
	color:#21262a;
	}

h2, h2 a, h3, h4, .pricing thead th {
	color:#41464a;
	}

/* Color for the links */
a {
	color:#3399FF;
	}

/* Navigation arrows in the slider */
#slides .next, #slides .prev {
	color:#3399FF;
	}

/* Darker text, footer links, slider etc. */
#slides h2, #slides, footer, footer h3, footer .wrapper p a, footer .wrapper ul li a, #newsletter input {
	color:#ddd;
	}

footer p span, nav ul ul li a span, #sec-navi a, #newsletter input, #copyright, #copyright a {
	color:#8F9294;
	}

/* Border color for the links in footer */
footer p a, footer ul li a {
	border-color:#5F6264;
	}

.brand {
    padding-top: 45px;
}

.logo {
    width: 45px;
    display: inline-block;
    float: left;
}

.title {
    display: inline-block;
    vertical-align: middle;
    color: #d9e3ed;
}

.header {
    font-size: 30px;
    padding-left: 12px;
    text-shadow: none;
}
.header a, .header a:visited {
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  font-weight: normal;
}

.help-inline {
  display: block;
  font-size: 12px;
  margin-left: 232px;
  margin-top: -20px;
  padding-bottom: 10px;
  color: red;
}

.info-message {
  color: red;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 12px;
}