<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Your Timecards.io has been paid!</h1>
<p>
  Thank you for your payment. Please log back to <a href="http://timecards.io">timecards.io</a> to resume using your account.
</p>
</body>
</html>