<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Your Timecards.io account is at risk of expiring</h1>
<p>
  The system detected your account has not been paid, or the payment information failed to be processed. Please update your payment information in <a href="https://timecards.io">timecard.io</a> or your account will expire.
</p>
</body>
</html>