<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Timecards.io Subscription Cancelled</h1>
    <p>
      Your Timecards.io subscription has been cancelled.
    </p>
    <p>
      We are sorry to see you go. We'd love to have you back. 
      Visit <a href="http://timecards.io">timecards.io</a> anytime to create a new subscription.
    </p>
  </body>
</html>