<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Your Timecards trial is ending soon!</h1>
<p>
  Please log back to <a href="http://timecards.io">timecards</a> and update your billing information.
</p>
</body>
</html>