<div class="date-picker">
	<div>
		<h3 id="filter-header"></h3>
	</div>
	<label for="from">From:</label>
	<input type="text" id="from" class="span10"/>
	<label for="to">To:</label>
	<input type="text" id="to" class="span10" />
	<div class="timecards-action"><a id="filter">Filter</a></div>
</div>