<div>
	<h4 id="filter-header"></h4>
</div>
<label for="from">From:</label>
<input type="text" id="from" class="span10"/>
<label for="to">To:</label>
<input type="text" id="to" class="span10" />
<button id="filter" class="btn">Filter</button>