<div class="date-picker">
	<div>
		<h2 id="filter-header" style="height:40px;"></h2>
	</div>
	<label for="from">From:</label>
	<input type="text" id="from" class="span10"/>
	<label for="to">To:</label>
	<input type="text" id="to" class="span10" />
	<button id="filter" class="btn">Filter</button>
</div>