<h1>Timecards</h1>

<div id="time_segment">
	<div id="daily">Daily</div>
	<div id="weekly">Weekly</div>
	<div id="biweekly">Biweekly</div>
	<div id="monthly">Monthly</div>
	<div id="yearly">Yearly</div>
</div>

<div id="date"></div>

<div id="timecards">
</div>