<div class="span3 polaroid">
	<div class="polaroid polaroid-inner <%= model.isMissingClockOut() ? 'no-clock-out' : '' %>">
		<div class="text">
			<label><%= model.getFormattedDate() %></label>
		</div>
		<div class="avatar timecard-square"></div>
		<div class="text">
			<label class="name"><%= model.getFullName() %></label>
			<label><%= model.getTimespanLabel() %></label>
		</div>
	</div>
</div>