<div class="span3 polaroid">
	<div class="polaroid polaroid-inner">
		<div class="avatar timecard-square"></div>
		<div style="padding-top:5px;">
		<label><%= model.getFullName()  %></label>
		<label><%= model.getTimespanLabel() %></label>
		</div>
	</div>
</div>