<div class="row-fluid user-row" style="padding:20px;">
	<div class="span1">
		<img src="<%= model.getPhotoUrl() %>" style="height:50px;width:50px;" />
	</div>
	<div class="span11">
		<label class="name"><%= model.getFullName()  %></label>
		<label><%= model.getTimespanLabel() %></label>
	</div>
</div>