<div class="form">
  <div class="pad30">

    <p>Forgot your password?</p>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <% if !request.subdomain.present? %>
        <div class="form-inputs">
          <div class="control-group string required user_company_name">
            <label class="string required control-label" for="user_company_name">
              <abbr title="required">*</abbr> Company name</label>
            <div class="controls">
              <input autofocus="autofocus" class="string required" id="user_company_name" name="user[company_name]" placeholder="Web Address" type="text"  style="width: 135px;
                      margin-left: 0px;">
              <span class="add-on">.timecards.io</span>
            </div>
          </div>
        </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reset password" %>
        </div>

        <%= render "devise/shared/links" %>
    <% end %>
  </div>

</div>
