
<footer>
  <div class="wrapper">
    <div class="one-third">

      <h3>Newsletter</h3>

      <p>No spam, we promise. You can unsubscribe anytime.</p>

      <!--<form action="newsletter.php" method="post" id="newsletter">-->
        <!--<input type="text" name="email" size="30" placeholder="Your email here..." class="required email" />-->
        <!--<button type="submit" name="subscribe">Sign up</button>-->
      <!--</form>-->
      <!-- Begin MailChimp Signup Form -->
      <div id="newsletter">
        <form action="http://timecards.us8.list-manage2.com/subscribe/post?u=3afd95c1ffde063be6de26e3e&amp;id=dc31eddcba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" size="30" class="required email" id="mce-EMAIL" placeholder="Your email here..." style="width: 170px;">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_3afd95c1ffde063be6de26e3e_dc31eddcba" value=""></div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>

    <div class="one-third last">
      <h3>About</h3>

      <p>Contact Us</p>

      <ul>
        <li>Ph: 954 815 6032</li>
        <li>Email: <a href="mailto:">support@timecards.io</a></li>
      </ul>

      <!--<ul id="social">-->
        <!--<li><a href="#" id="dribbble">Dribbble</a></li>-->
        <!--<li><a href="#" id="facebook">Facebook</a></li>-->
        <!--<li><a href="#" id="flickr">Flickr</a></li>-->
        <!--<li><a href="#" id="twitter">Twitter</a></li>-->
        <!--<li><a href="#" id="rss">RSS</a></li>-->
      <!--</ul>-->
    </div>

    <div id="copyright">
      <p>Copyright &copy; 2012 Frontium</p>

      <a href="#header-inner" class="top">Scroll to top</a>
    </div><!-- /copyright -->
  </div><!-- /wrapper -->
</footer>