
<div class="container-fluid" style="margin-left: 100px;">
	<div class="row-fluid">
		<img src="http://placehold.it/1024x385" />
	</div>
</div>
<div class="container-fluid" style="margin: 100px;">
	<div class="row-fluid">
		<div class="span6">
			<div class="row-fluid">
				<h1>
					Why Timecards?
				</h1>
			</div>
			<div class="row-fluid">
				<p class="about">
					The Timecards concept was developed after we began noticing that many employers who pay people by the hour on off-site locations may not be getting their full money’s worth.  For companies who send teams directly out to job sites without initially reporting to the office will benefit from this application, in that you can verify both the employees clock-in time and location.  Not only will this tool provide an easy method for both the employer and employee in payroll but it will also provide an additional tool for the employer to better manage their time, their employees time and most importantly their funds.  By using this tool your employees can no longer mislead you in falsifying their timecard.
				</p>
			</div>
			<div class="row-fluid">
				<h1>
					Who needs it?
				</h1>
			</div>
			<div class="row-fluid">
				<p class="about">
					Using this tool is simple and easy.  It only requires the use of a smart phone on the employees end and a computer for the administrator.  Employees will simply open the app.  Tap on clock-in, take a photo of themselves and confirm the clock in.  At the end of the day the employee will follow the same procedures to clock-out.  The administrator of the account can access the timecards for each employee and verify the employees clock-in and clock-out as well as have their exact location at the time of clocking in and out.  By creating this easy to use system the headaches of time keeping will be eliminated. 
	Timecards can be used anywhere around the globe.  So long that your smart phone has a camera and can send GPS coordinates.  This app will be a great tool for companies who pay people on an hourly basis especially those people who don’t report to an office. 
	 </p>
	 <p class="about">Employers,
	this app will be your new best friend.  There will be no more questions where an employee is and what time they began their day.  If you have any suspicions you can go in and check GPS coordinates and clock-in and out times.  Not only will this provide a security net for your wallet but it will also aid in keeping your employees honest about their working hours. 
	
				</p>
			</div>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<blockquote class="pull-right">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					</p>
					<small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>
			<div class="row-fluid">
				<img src="http://placehold.it/600x800" />
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span8">
			
		</div>
	</div>
</div>
