<div id="howto" class="container-fluid" style="margin-top: 100px; text-align: center;">
  <div class="row-fluid">
    <span class="span12"> <h2>Time management simplified</h2></span>
  </div>
  <div class="row-fluid" style="margin-top: 50px">
    <span class="span5">
        <p>
          Your people use a smartphone. You get their time, location and picture. Time management made simple and reliable.
        </p>
        <p>
          <%= link_to 'GET STARTED', new_user_registration_path(:plan => 'silver'), :class => 'button get-started orange-gradient' %>
        </p> </span>
    <span class="span6"> <img src="http://placehold.it/640x385" style="position: relative;"/> </span>
  </div>
	<div class="row-fluid">
		<div class="span12" style="padding: 0px 50px 50px 50px;">
			<h1>A smartphone, it's all you need.</h1>
			<small>Timecards is the easiest, more user-friendly time management ever.</small>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<img src="http://placehold.it/300x200" alt="ALT NAME">
			<div class="caption">
				<p>Your people use a smartphone</p>
			</div>
		</div>
		<div class="span4">
			<img src="http://placehold.it/300x200" alt="ALT NAME">
			<div class="caption">
				<p>A timecard is generated in your account</p>
			</div>
		</div>
		<div class="span4">
			<img src="http://placehold.it/300x200" alt="ALT NAME">
			<div class="caption">
				<p>You manage their time easily and reliably</p>
			</div>
		</div>
	</div>
</div>
<div id="features" class="container-fluid" style="margin: 100px; text-align: center;">
	<div class="row-fluid">
		<div class="span12" style="padding: 0px 50px 50px 50px;">
			<h1>Everything you expect.</h1>
			<small>Timecards provides all the features you would expect out of managing time. We just made it better.</small>
		</div>
	</div>
	<div class="row-fluid" style="text-align: left;">
		<div class="offset1 span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="http://placehold.it/100x100" alt="ALT NAME">
				</div>
				<div class="span8">
					<div class="caption">
						<h4>Happy employees</h4>
						<p>Your people will be happy to clock in and out because timecards is the easiest-to-use time management tool.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="row-fluid">
				<div class="span2">
					<img src="http://placehold.it/100x100" alt="ALT NAME">
				</div>
				<div class="span8">
					<div class="caption">
						<h4>Peace of mind</h4>
						<p>You will know where everyone is at the time they clock in and out, instantly.</p>
					</div>
				</div>
			</div>
		</div>
	<div class="row-fluid">
		<div class="offset1 span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="http://placehold.it/100x100" alt="ALT NAME">
				</div>
				<div class="span8">
					<div class="caption">
						<h4>In the cloud</h4>
						<p>Because timecards lives in the cloud, you can use timecards to manage time world wide.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="row-fluid">
				<div class="span2">
					<img src="http://placehold.it/100x100" alt="ALT NAME">
				</div>
				<div class="span8">
					<div class="caption">
						<h4>Total control</h4>
						<p>Easily know how much time your people have worked. You pick the dates, and we do the rest.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>