<%= simple_form_for(@project) do |f| %>
  <div class="form-inputs">
  	<%= f.input :name, :required => true, :placeholder => "project name", :html=>{:class => "form-field"} %>
  </div>
  <input name="commit" type="submit" value="Save">
<% end %>
