<div class="side-menu">
  <div class="sidebar-nav full-height">
    <ul class="nav nav-list">
      <li class="active"><a href="#">Edit Project</a></li>
    </ul>
  </div>
</div>
<div class="pad30 page-content">
<%= render 'form' %>
</div>