<div class="login-form">
	<div style="padding-bottom: 20px;">
		<div class="login-logo">
			<%= image_tag("iTunesArtwork512.png") %>
		</div>
		<div class="login-title">
			<div class="login-header">Timecards</div>
		</div>
	</div>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
	  	<div class="controls">
			<input autofocus="autofocus" class="string email required form-field textfield" id="user_email" name="user[email]" type="email" value="" placeholder="email">
		</div>
		<div class="controls">
			<input class="password required form-field textfield" id="user_password" name="user[password]" type="password" placeholder="password">
		</div>
	  <!--<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>-->
	  <input class="login-submit-button btn-green" name="commit" type="submit" value="Sign in">
	<% end %>
<%= render "devise/shared/links" %>
</div>