$font-color: rgb(217,227,237);
$font-size: 20px;
$background: rgb(33,44,51);

body {
  background-color: $background;
}

.login-form{
  text-align: center !important;
  color: $font-color;
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  position: absolute;
}

.login-form .login-header,
.login-form .login-header a,
.login-form .login-header a:visited{
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}
 
 a, a:hover {
  font-family: "Open Sans";
  text-decoration: none;
 }
 
.login-logo {
  width: 55px;
  display: inline-block;
}

.login-title {
  display: inline-block;
  vertical-align: middle;
}

.login-header {
  font-size: 30px;
  padding: 12px;
}

.form-field {
  height: 50px !important;
  width: 300px;
  font-size: $font-size !important;
  padding-top: 6px !important;
  text-align: center !important;
  font-family: "Open Sans";
}

.login-submit-button {
  color: $font-color;
  font-size: $font-size !important;
  font-family: "Open Sans";
  font-weight: lighter;
}

.fullscreen_post_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}
.fullscreen_post_bg:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/assets/vignetter.png');
  background-size: 100% 100%;
  opacity: .6;
  background-color: rgba(0,0,0,0.3);
  background-image: none;
}

.ui_dialog_lock {
  display: none;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sessions.new .content {
  min-height: 100%;
}