// Place all the styles related to the Timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "app/variables";

#main-wrapper {
  background-color: $light-background;
  height: 100%;
}

#main-wrapper .login{
  background-color: $light-background;
}


#main-wrapper h3 {
  padding: 0px 0px 5px;
}

.timecards-action {
  background-color: $dark-background;
  padding: 5px;
  text-align: center;
  width: auto;
}

.timecards-action a, .timecards-action a:hover, .timecards-action, .timecards-action:hover {
  color: $font-color !important;
  text-decoration: none !important;
}

#timecards {
  padding-top: 20px;
}

.timecard-square, .map {
  height:100px;
  margin: 0 auto;
  background-size:100%; 
  background-repeat:no-repeat; 
  background-position:center;
}

.map {
  
}

.user-row {
  background: white;
  padding: 30px;
  min-height: 135px;
 }
 
.user-row:hover {
  background: $hover-blue-bg;
  color: white;
 }
 
 .user-row label.name {
  font-size: 22px;
  font-weight: bold;
 }
 
 .user-row img{
  
  border-radius: 40px;
  -webkit-border-radius: 40px; 
  -moz-border-radius: 40px;  
 }
 
 .polaroid { 
    height: 195px;
    margin: 0px 0px 10px 0px;
 }
 
 .polaroid-inner {
   background: $hover-bg;
   position: relative;
   margin-left: 0px;
 }
 
 
.polaroid-inner:hover {
   background: $hover-blue-bg;
   color: white;
}

.polaroid-inner.no-clock-out {
  border: 1px solid lightsalmon;
}


.date-picker label {
  display: inline-block;
  font-size: 18px;
}

.date-picker input {
  display: inline-block !important;
  width: 100px !important;
  border: 0px solid #cccccc;
  border-radius: 0px; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  height: 33px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.date-picker .timecards-action {
  position: relative;
  width: 80px;
  display: inline-block;
  top: -2px;
  left: 10px;
  cursor: pointer;  
}

.text {
  padding: 10px;
}

.text label {
  padding-left: 5px;
  font-size: 12px;
  display: block;
}

label.date {
  padding-left: 5px;
  font-size: 12px;
  color: white;
  position: absolute;
}

.polaroid-inner .name {
  position: absolute;
  top: 40px;
  background: $hover-blue-bg;
  color: white;
  padding: 5px;
}

.timecard_header label{
  font-size: 20px;
}

.timecard {
  background: white;
  padding: 0px;
  margin-left: 0px;
  margin-right: 10px;
}

.file-container {
  font-size: 15px;
  font-weight: 300;
}

.location-link:hover {
  color: $hover-blue-bg;
}

.picker-switch {
  padding: 10px;
}
.bootstrap-datetimepicker-widget td span {
  height: auto;
  line-height: normal;
}

.file-container {
  overflow: hidden;
  position: relative;
  margin: 10px 0px 0px 10px;
}

.file-container [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.location-link, .location-link {
  color: $font-color;
}

.location-link, .location-link:hover {
  text-decoration: none;
  color: $hover-blue-bg;
  padding-top: 10px;
  display: block;
  padding-left: 10px;
}

.timepicker {
  padding-top: 7px;
}

.action {
  color: $hover-blue-bg;
}

.timecard-details .col-md-6{
  padding: 0px;
}

.bootstrap-datetimepicker-widget>ul {
  padding-left: 0px;
}

.overlay {
  opacity: 1;
  padding-top: 20px;
}

.table-actions {
  padding-bottom: 10px;
  padding-top: 10px;
}

.other-actions {
  padding-left: 50px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .filter-elements {
    padding-bottom: 20px;
  }

  .timecards-action {
    margin-top: 20px;
  }

  .polaroid {
    height: 180px;
  }
}