$white-color: rgb(252,252,252);
$dark-blue: rgb(38,44,51);
$light-background: rgb(241,241,241);

.signup-button-container {
  position: absolute;
  left: 140px;
  top: 6px;
}

.users tbody, .projects tbody {
  background-color: $white-color;
  border: 1px solid #dddddd;
}



.users tr, .projects tr {
  height: 40px;
  border: 0px;
  color: $dark-blue;
}

.users .table th, .users .table td, .projects .table th, .projects .table td {
  padding: 15px !important;
  border: 0px;
}

.users tr:hover, .projects tr:hover {
  background-color: rgb(61,163,183);  
  color: white;
}

.users thead tr:hover, .projects thead tr:hover {
  background-color: $light-background;  
  color: $dark-blue;
}

.users tr:hover a, .projects tr:hover a{
  color: white;
}