$font-color: rgb(217,227,237);
$font-size: 20px;
$background: rgb(33,44,51);

body {
  background-color: $background;
}

.login-form{
  text-align: center !important;
  color: $font-color;
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: $background;
}
 
 a, a:hover {
  font-family: "Open Sans";
  text-decoration: none;
 }
 
.login-logo {
  width: 55px;
  display: inline-block;
}

.login-title {
  display: inline-block;
  vertical-align: middle;
}

.login-header {
  font-size: 30px;
  padding: 12px;
}

.form-field {
  border-top: 1px #acaeb4 solid;
  border-left: 1px #dde1e7 solid;
  border-right: 1px #dde1e7 solid;
  border-bottom: 2px #f1f4f7 solid;
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important;
  height: 60px !important;
  width: 300px;
  font-size: $font-size !important;
  padding-top: 6px !important;
  text-align: center !important;
  font-family: "Open Sans";
}

.login-submit-button {
  background: url("/assets/green-btn@2x.png") no-repeat 0px 0px;
  background-size: 300px 60px;
  width: 300px !important;
  height: 60px;
  border: 0px;
  color: $font-color;
  font-size: $font-size !important;
  font-family: "Open Sans";
  font-weight: lighter;
}
