// Place all the styles related to the Timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hover-bg: white;
$hover-blue-bg: rgb(8,117,130);

#timecards { 
  padding-bottom: 40px;  
}

.timecard-square, .map {
  height:100px;
  margin: 0 auto;
  background-size:100%; 
  background-repeat:no-repeat; 
  background-position:center;
}

.map {
  
}

.user-row {
  background: white;
 }
 
.user-row:hover {
  background: $hover-blue-bg;
  color: white;
 }
 
 .user-row label.name {
  font-size: 22px;
  font-weight: bold;
 }
 
 .user-row img{
  
  border-radius: 40px;
  -webkit-border-radius: 40px; 
  -moz-border-radius: 40px;  
 }
 
 .polaroid { 
    height: 175px;
    margin: 10px;  
    font-family: "Open Sans Regular";
 }
 
 .polaroid-inner {
   background: $hover-bg;
   padding: 10px;
   position: relative;
   margin-left: 0px;
 }
 
 
.polaroid-inner:hover {
   background: $hover-blue-bg;
   color: white;
}

.polaroid-inner.no-clock-out {
  border: 1px solid lightsalmon;
}


.date-picker label {
  display: inline-block;
  font-size: 18px;
}

.date-picker input {
  display: inline-block !important;
  width: 100px !important;
  border: 0px solid #cccccc;
  border-radius: 0px; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  height: 33px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.date-picker .timecards-action {
  position: relative;
  width: 80px;
  display: inline-block;
  top: -2px;
  left: 10px;
  cursor: pointer;  
}

.text label {
  padding-top:5px; 
  padding-left: 5px;
  font-size: 12px;
}

.polaroid-inner .name {
  position: absolute;
  top: 40px;
  background: $hover-blue-bg;
  color: white;
  padding: 5px;
}

.full-timecard {
    font-family: "Open Sans Regular";
}

.timecard_header label{
  font-size: 20px;
  font-family: "Open Sans Regular";
}

.timecards-container {
  margin-bottom: 20px;
}

.timecard {
  background: white;
  padding: 20px;
}


div.overlay {
  display:        table;
  position:        fixed;
  top:            0;
  left:            0;
  width:            100%;
  height:            100%;
}
div.overlay > div {
  display:        table-cell;
  width:            100%;
  height:            100%;
  background:        #ccc;
  opacity:        1.5;
  text-align:        center;
  vertical-align:    middle;
}
