<!DOCTYPE html>
<html>
<head>
  <title>Timecards.io</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Files comes here -->
  <%= stylesheet_link_tag "sessions/application", :media => "all" %>

  <!-- Google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  <div class="container" >
      <%= yield %>
  </div>

    <%= javascript_include_tag "sessions/application" %>
</body>
</html>